<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>

  <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./works.html" title="">02 : Works</a></li>
            <li><a href="./about.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>
          </ul>


        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>About me</h3>
                  <p>Hi my name is Artur, currently I am learning Java in "Vilnius Vocational Training Centre of
                    Technologies" while improving myself as a python developer on my own. </p>
                  <h3>My hobbies and interests </h3>
                  <p> From an early age, since my granddad taught me how to play chess, I was always interested in the
                    sport. Even though I rarely play regular chess matches, I still follow the professional scene and
                    absolutely adore solving chess puzzles.
                  </p>
                  <p> Movies and cinema are a leisure time activity which I still enjoy to this day, there is nothing
                    better in my book than watching a nice movie in the evening.
                  </p>
                  If I can't watch a movie, I am always up for a good book. My current favorite genres would include the
                  "Dystopia" or "Utopia" genres. Some of my book recomendations would definetely include "1984", by
                  George Orwell or "Brave New World" by Aldous Huxley
                  </p>>
                  <h3>My aspirations</h3>
                  <p>
                    In the future I hope to tie my life with machine learning or artificial intelligence. I think it's
                    the next big step in the improvement of human life and I would like to be a part of the it
                  </p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/profil.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>
  <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>